body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}
p{
    color: red;
    font-size: 20px;
    padding: 5vw;
}

.cont{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.tbl{
    color: grey;
    font-size: 15px;
}
.reg{
    font-size: 40px;
}

button {
    background-color: rgba(70, 36, 17, 0.001);
    border: 2px solid black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
}
button:hover {
    text-decoration-color: white;
    text-decoration: underline;
}
