body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}

.welcome {
    width: 100%;
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.choice li{
    display: inline-block;
}
.choice {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
    top: 20%;
}

.choice a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.choice a, .choice a:hover {
    color: black;
}

a:hover {
    text-decoration: underline;
}